body { 
    padding-bottom: 70px; 
}

.audioPlayer  {
    background-color:aliceblue;
    padding:1%;
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
}

.audioPlayer p {
  margin-left:10%;      
}

audio {
    margin-left:1%;
    width:50%;
    color:black;
}

td .fa {
    font-size:1.2em;
    cursor:pointer;
}

.albums a {
    display:inline-block;
}

.albums a:hover {
    text-decoration:none;
    cursor:pointer;
}

.albums p {
    width:180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    height:auto;
    padding-top:5%;
}

.container h4 {
    
}

/* Profile box */
.profile-box {
    padding:0;
    margin:0;
    right:0;
    left:0;
    width:100%;
    height:150px;
    background:#221f1f;
}

.profile-box #artistImage {
  margin-top:50px;    
  margin-left:15%;  
}

.profile-box #brandLogo {
    font-size:2em;
}

.profile-box a {
    margin-left:1%;   
}

.profile-box p {
    color:white;
}

/* Favorite & Unfavorite */
.change-icon > .fa + .fa,
.change-icon:hover > .fa {
  display: none;
}
.change-icon:hover > .fa + .fa {
  display: inherit;
}