body { 
    padding-bottom: 70px; 
}

.audioPlayer  {
    background-color:aliceblue;
    padding:1%;
    position:fixed;
    bottom:0;
    width:100%;
}

.audioPlayer p {
  margin-left:10%;      
}

audio {
    margin-left:1%;
    width:50%;
    color:black;
}
