@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.Artist;
    int counter = 1;
}

@section scripts {
    <script src="~/Content/js/Playlist.js"></script>
    <script src="~/Content/js/AudioPlayer.js"></script>
}

<style>
    /*
    a {
        color:gray;
    }
    #topTracks tbody tr:hover {
        background-color:cadetblue
    }
    */
    .fa-heart-o:hover {
        color: red;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <h4>Top Tracks</h4>
        <h6>Brought to you by Spotify</h6>
        <table id="topTracks" class="table style="border:none;">
            <tbody>
                @foreach (var track in Model) {
                    <tr>                        
                        <!--<i id="playButton" class="fa fa-play-circle-o" aria-hidden="true"></i> -->
                        <td><span id="trackNo">@(counter++)</span></td>
                        <td><a href="@track.previewurl">@track.name</a></td>
                        <td><i class="fa fa-list" aria-hidden="true"></i></td>
                        <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="player" style="position:fixed;bottom:0;width:100%;background-color:cadetblue;left:0;">
            <audio src="" controls id="audioPlayer">
                Sorry, your browser does not support HTML5
            </audio>
        </div>
    </div>
</div>