@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.Artist;
    int counter = 1;
}

@section scripts {
    <script src="~/Content/js/MusicPlayer.js"></script>
}

@section head {
    <link rel="stylesheet" href="~/Content/css/profile.css" /> 
}

<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h4>Top Tracks</h4>
            <h6>Brought to you by Spotify</h6>
            <table id="topTracks" class="table" style="border:none;">
                <tbody>
                    @foreach (var track in Model)
                    {
                        <tr>
                            <td><span class="trackNo">@(counter++)</span></td>
                            <td id="trackName"><a href="@track.preview_url">@track.name</a></td>
                            <td style="color:red;"><a target="_blank" href="@track.youtubeUrl"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></td>
                            <td><i class="fa fa-list" aria-hidden="true"></i></td>
                            <td>
                                <span class="change-icon" style="color:red;">
                                    <i id="" class="fa fa-heart-o" aria-hidden="true"></i>
                                    <i id="" class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- AUDIO PLAYA -->
<div class="audioPlayer">    
    <div class="container-fluid">  
    <div class="clearfix">
        <div class="pull-left">
            <a id="btnPrev"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
            <img width="110" height="110" src="https://cdn3.iconfinder.com/data/icons/music-and-sound/512/vinyl_disc_audio_record_dj_gramophone_album_flat_icon-512.png" />
            <a id="btnNext"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
        </div>
        <p id="npAction">Paused...</p>
        <p id="npTitle">&nbsp;</p>
        <audio src="" controls id="audioPlayer">
            Sorry, your browser does not support HTML5
        </audio>
    </div>
    </div> <!-- /.container -->
</div> <!-- /.audioPlayer -->
  
